{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Reset Password</h3>
  <div class="box">
    {% with messages = get_flashed_messages(category_filter=['error']) %} {% if
    messages %}
    <div class="notification is-danger">{{ messages[0] }}</div>
    {% endif %} {% endwith %} {% with messages =
    get_flashed_messages(category_filter=['success']) %} {% if messages %}
    <div class="notification is-success">{{ messages[0] }}</div>
    {% endif %} {% endwith %}
    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="field">
        <div class="control">{{ form.password(class_="input") }}</div>
      </div>

      {% if form.password.errors %}
      <ul class="errors">
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="field">
        <div class="control">{{ form.password2(class_="input") }}</div>
      </div>

      {% if form.password2.errors %}
      <ul class="errors">
        {% for error in form.password2.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %} {{ form.submit(class_="button is-block is-info is-fullwidth")
      }}
    </form>
  </div>
  {% endblock %}
</div>
